html,body {
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: black;
}
h1 {
    position: absolute;
    color: #fdf6e3;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Fira Code iScript';
    
}
span {
    color: #fdf6e3;
    font-size: 2vw;
}
.img_animete {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.img_title {
    position: absolute;
    margin: 0px;
    top: 0;
    left: 5%;
    margin-top: 40px;
    width: 90%;
    animation: spin 90s linear infinite;
    

}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#entra {
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}
.container {
    display: block;
}
.container div {
    display: inline-block;
}
.lampeggio {
    animation: lampeggio step-end 1s infinite;
}
@keyframes lampeggio {
    from, to {
        color: transparent;
    }
    50% {
        color: #fdf6e3;
    }
}