html,body {
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #150042;
    color: white;
}

#particles-js {
    height: 100vh;
    overflow: hidden;
    border-left: 30px solid white;
    border-right: 30px solid white;
    border-bottom: 30px solid white;
}
h1 {
    position: absolute;
    color: #fdf6e3;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Fira Code iScript';
    text-transform: uppercase;

    
}
h1 span {
    display: block;
    font-size: 1rem;
}
nav {
    background-color: white;
    color: black;
}

img {
    width: 17%;
}

